.contact-plans {
  display: flex;
  padding: 4rem 2rem;
  gap: 2rem;
  justify-content: center;
  background-color: #a7cd2c;
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.contact label {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 10px;
}

.contact input {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: #222;
  padding-left: 8px;
  height: 40px;
  border: none;
  outline: none;
}

.contact textarea {
  resize: none;
  margin-bottom: 10px;
  height: 150px;
  border: none;
  outline: none;
}

.contact button {
  background-color: #50c8c6;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.plans {
  color: #fff;
  height: 200px;
}