.painel-header {
  background-color: #222;
  padding: 2rem 1rem;
}

.painel-menu {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.painel-menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.painel-menu ul li a {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2rem .5rem;
}

.painel-menu ul li a.active {
  background-color: #444;
}

.painel-header .loggout {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}