.breadcrumb {
  background-color: #fff;
}

.breadcrumb ul {
  list-style: none;
  max-width: 900px;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}

.breadcrumb a {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  margin: 1rem auto 3rem auto;
}

.main h3 {
  color: #222;
  font-size: 1.2rem;
}

.main-menu {
  background-color: #fff;
  height: 150px;
  max-width: 300px;
  width: 100%;
}

.main-menu ul {
  list-style: none;
  width: 100%;
  margin: 0 0;
  padding: 0;
}

.main-menu ul li a {
  color: #222;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #222;
  padding: 1rem;
  width: 100%;
}

.main-menu ul li a.active {
  background-color: #222;
  color: #fff;
}

.main .main-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  width: 100%;
}

.main .main-content > div {
  background-color: #fff;
  padding: 1rem 2rem;
  max-width: 500px;
  width: 100%;
  display: none;
}

.main .main-content > div.active {
  display: block;
}

.main .main-content div form {
  display: flex;
  flex-direction: column;
}

.main .main-content div form label {
  width: 100%;
  color: #222;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 1.5rem 0 1rem 0;
}

.main .main-content div form input {
  border: 1px solid #555;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
  color: #222;
}

.main .main-content div form textarea {
  resize: vertical;
  border: 1px solid #555;
  height: 150px;
  font-size: 1.2rem;
  color: #222;
  width: 100%;
}

.main .main-content div form button {
  background-color: #222;
  color: #fff;
  font-size: 1.1rem;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.main table {
  padding: 1rem 2rem;
  width: 100%;
  color: #222;
  text-align: center;
}

.main table tr {
  display: flex;
  width: 100%;
  align-items: center;
  padding: .3rem 0;
}

.deletar-membro {
  background-color: #ff0000;
  color: #fff;
}